<div>
	<h1>This is the pets view!</h1>
	<a href="/dashboard">Dashboard</a>	


    <section class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">

                            <a class="navbar-item">
                                Available Pets
                            </a>
                            <a class="navbar-item">
                                Sign-In
                            </a>

                        </div>
                    </div>

                </div>
            </nav>
        </div>

        <!-- Body Starts Here -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <section class="section">
                    <div class="container">
                        <div class="columns">

                            <div class="column">

                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="assets/images/dogIcon.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>John Smith</strong>
                                                    <small>@johnsmith</small>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur
                                                    sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                            <nav class="level is-mobile">
                                                <div class="level-left">
                                                    <a class="level-item" aria-label="info">
                                                        <span class="icon has-text-primary">
                                                            <i class="fas fa-info-circle"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    </article>
                                </div>

                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="assets/images/catIcon.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>John Smith</strong>
                                                    <small>@johnsmith</small>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur
                                                    sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                            <nav class="level is-mobile">
                                                <div class="level-left">
                                                    <a class="level-item" aria-label="reply">
                                                        <span class="icon has-text-primary">
                                                            <i class="fas fa-info-circle"></i>
                                                        </span>
                                                    </a>
                                                    </span>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    </article>
                                </div>


                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="assets/images/snakeIcon.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>John Smith</strong>
                                                    <small>@johnsmith</small>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur
                                                    sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                            <nav class="level is-mobile">
                                                <div class="level-left">
                                                    <a href="profile.html">
                                                        <span class="icon has-text-primary">
                                                            <i class="fas fa-info-circle"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </nav>
                                        </div>
                                    </article>
                                </div>

                            </div>

                            <div class="column">

                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="assets/images/birdIcon.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>John Smith</strong>
                                                    <small>@johnsmith</small>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur
                                                    sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                            <nav class="level is-mobile">
                                                <div class="level-left">
                                                    <span class="icon has-text-primary">
                                                        <i class="fas fa-info-circle"></i>
                                                    </span>
                                                </div>
                                            </nav>
                                        </div>
                                    </article>
                                </div>



                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="assets/images/smallMammalIcon.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>John Smith</strong>
                                                    <small>@johnsmith</small>
                                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur
                                                    sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                </p>
                                            </div>
                                            <nav class="level is-mobile">
                                                <div class="level-left">
                                                    <span class="icon has-text-primary">
                                                        <i class="fas fa-info-circle"></i>
                                                    </span>
                                                </div>
                                            </nav>
                                        </div>
                                    </article>
                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- Body Ends Here -->

                    <a href="/dashboard">Dashboard</a>

                </section>
            </div>
        </div>
</div>
<script type="text/javascript" src="../../assets/scripts/services/peopleService.js"></script>