<div class="column is-6">
          <div class="box">
        <h3 class="title has-text-grey">Pets: Sign Up Here</h3>
        <p class="subtitle has-text-grey">Volunteer for Outings, Find a Petsitter</p>
        
          <form id="signup2" name="signin" method="post" action="signup">
             <div class="field">
              <div class="control">
                <input class="input is-large" name="name" type="input" placeholder="Name" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="type" type="input" placeholder="Animal Type" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="breed" type="input" placeholder="Breed" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
    <textarea class="textarea" type="text" placeholder="About You"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="email" type="email" placeholder="Email" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="password" type="password" placeholder="Password">
              </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
          </form>
        </div>
      </div>