<button id="createEngagementButton" 
  class="button" 
  aria-label="close">Create Engagement</button>

<div class="hero-body">
    {{#if human}}
    <div id="human-profile">
       <button type="button" id="createEngagementPageButton">Create an Engagement</button>
    </div>
    {{else}}
    <div id="pet-profile">
        <h1>This is animal the profile view</h1>
        <h2>All animal specific content goes here...</h2>
    </div>
    {{/if}}
    <div id="calendar"></div>
</div>

<div id="addEngagementModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>