<link rel="stylesheet" href="../../assets/css/people.css">
<link rel="stylesheet" href="../../assets/css/pets.css">


<!-- Hero head: will stick at the top -->
<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="/assets/images/fetch_green.png" id="logo" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a href="/dashboard" class="navbar-item">
                        Dashboard
                    </a>
                    <a href="/pets" class="navbar-item">
                        Pets
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="hero-body">
    {{#if human}}
    <div id="human-profile">
        <section>
            <div class="container" id="profile">


                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128 is-square">
                                <img src="https://bulma.io/images/placeholders/128x128.png" id="userImg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <div>
                                    <p class="title is-2" id="userName">User Name</p>

                                    <p class="subtitle is-5" id="userAbout">Doggo ipsum noodle horse woofer smol big ol bork, boof thicc mlem. You are doin me a
                                        concern pupper wrinkler pupper mlem, fluffer tungg yapper big ol, fluffer heck puggorino.
                                        Puggo length boy long bois heckin good boys I am bekom fat big ol pupper, wrinkler
                                        blep I am bekom fat sub woofer wrinkler wow very biscit, the neighborhood pupper
                                        shoober big ol h*ck. Heckin angery woofer ruff shibe shooberino, long bois. You are
                                        doing me a frighten very taste wow porgo big ol pupper long bois, wow very biscit
                                        mlem doggorino. Mlem doggorino boof extremely cuuuuuute length boy, shibe smol borking
                                        doggo with a long snoot for pats doing me a frighten I am bekom fat puggo, such treat
                                        thicc you are doin me a concern.
                                    </p>
                                    <hr>
                                    <div class="columns is-centered is-3">
                                        <div class="column">
                                            <p class="title is-5">
                                                <i class="fas fa-star"></i> Reviews</p>
                                        </div>
                                        <div class="column">
                                            <p class="title is-5">
                                                <i class="fas fa-comment-alt"></i> Send a Message</p>
                                        </div>
                                        <div class="column">
                                            <p class="title is-5">
                                                <i class="fas fa-exclamation-circle"></i> Report User</p>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div>

                            </div>
                        </div>
                    </article>
                </div>

    </section>
</div>
{{else}}
<div id="pet-profile">
    <section>

        <section>
            <div class="container">


                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128 is-square">
                                <img src="https://bulma.io/images/placeholders/128x128.png" id="petImg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <div class="columns" >
                                    <div class="column">
                                    <p class="title is-2" id="petName">Pet Name</p>
                                    </div>
                                    <div class="column" id="petType">
                                    <h3>Animal Type</h3>
                                    </div>
                                    <div class="column" id="petBreed">
                                    <h3>Breed (Optional)</h3>
                                    </div>
                                    </div>

                                    <div class="level" id="ammenities">
                                        <div class="level-item">
                                            <span class="icon white">
                                                <svg class="svg-inline--fa fa-hourglass-start fa-w-12" aria-hidden="true" data-prefix="fas" data-icon="hourglass-start" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
                                                    <path fill="currentColor" d="M360 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24 0 90.965 51.016 167.734 120.842 192C75.016 280.266 24 357.035 24 448c-13.255 0-24 10.745-24 24v16c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24 0-90.965-51.016-167.734-120.842-192C308.984 231.734 360 154.965 360 64c13.255 0 24-10.745 24-24V24c0-13.255-10.745-24-24-24zm-64 448H88c0-77.458 46.204-144 104-144 57.786 0 104 66.517 104 144z"></path>
                                                </svg>
                                                <!-- <i class="fas fa-hourglass-start"></i> -->
                                                <p class="level-item">Available Long Term</p>
                                            </span>
                                        </div>

                                        <div class="level-item">
                                            <span class="icon white">
                                                <svg class="svg-inline--fa fa-users fa-w-20" aria-hidden="true" data-prefix="fas" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 640 512" data-fa-i2svg="">
                                                    <path fill="currentColor" d="M320 64c57.99 0 105 47.01 105 105s-47.01 105-105 105-105-47.01-105-105S262.01 64 320 64zm113.463 217.366l-39.982-9.996c-49.168 35.365-108.766 27.473-146.961 0l-39.982 9.996C174.485 289.379 152 318.177 152 351.216V412c0 19.882 16.118 36 36 36h264c19.882 0 36-16.118 36-36v-60.784c0-33.039-22.485-61.837-54.537-69.85zM528 300c38.66 0 70-31.34 70-70s-31.34-70-70-70-70 31.34-70 70 31.34 70 70 70zm-416 0c38.66 0 70-31.34 70-70s-31.34-70-70-70-70 31.34-70 70 31.34 70 70 70zm24 112v-60.784c0-16.551 4.593-32.204 12.703-45.599-29.988 14.72-63.336 8.708-85.69-7.37l-26.655 6.664C14.99 310.252 0 329.452 0 351.477V392c0 13.255 10.745 24 24 24h112.169a52.417 52.417 0 0 1-.169-4zm467.642-107.09l-26.655-6.664c-27.925 20.086-60.89 19.233-85.786 7.218C499.369 318.893 504 334.601 504 351.216V412c0 1.347-.068 2.678-.169 4H616c13.255 0 24-10.745 24-24v-40.523c0-22.025-14.99-41.225-36.358-46.567z"></path>
                                                </svg>
                                                <!-- <i class="fas fa-users"></i> -->
                                                <p class="level-item">Good With Groups</p>
                                            </span>
                                        </div>

                                        <div class="level-item">
                                            <span class="icon white">
                                                <svg class="svg-inline--fa fa-map fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="map" role="img" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 576 512" data-fa-i2svg="">
                                                    <path fill="currentColor" d="M576 56.015v335.97a23.998 23.998 0 0 1-13.267 21.466l-128 64C418.948 485.344 400 473.992 400 455.985v-335.97a23.998 23.998 0 0 1 13.267-21.466l128-64C557.052 26.656 576 38.008 576 56.015zm-206.253 42.07l-144-64c-15.751-7-33.747 4.461-33.747 21.932v335.967a24 24 0 0 0 14.253 21.931l144 64c15.751 7 33.747-4.461 33.747-21.931V120.017a24 24 0 0 0-14.253-21.932zm-228.48-63.536l-128 63.985A23.998 23.998 0 0 0 0 120v335.985c0 18.007 18.948 29.359 34.733 21.466l128-63.985A23.998 23.998 0 0 0 176 392V56.015c0-18.007-18.948-29.359-34.733-21.466z"></path>
                                                </svg>
                                                <!-- <i class="fas fa-map "></i> -->
                                                <p class="level-item">Loves the Outdoors</p>
                                            </span>
                                        </div>
                                    </div>
                                    <p id="petAbout">Doggo ipsum noodle horse woofer smol big ol bork, boof thicc mlem. You are doin me a
                                        concern pupper wrinkler pupper mlem, fluffer tungg yapper big ol, fluffer heck puggorino.
                                        Puggo length boy long bois heckin good boys I am bekom fat big ol pupper, wrinkler
                                        blep I am bekom fat sub woofer wrinkler wow very biscit, the neighborhood pupper
                                        shoober big ol h*ck.
                                    </p>
                                </div>
                                <hr>
                                <div class="log-in">
                                    <p class="title is-2">
                                        Found the one?
                                    </p>
                                    <br>
                                    <p class="subtitle is-5">
                                        Fetch your time here.
                                    </p>
                                    <form id="eventForm">
                                        <div class="field">
                                            <label class="label">Date</label>
                                            <div class="control">
                                                <input class="input" type="text" id="datepicker" placeholder="enter event date">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Event Name</label>
                                            <div class="control">
                                                <input class="input" type="text" placeholder="e.g. Holiday Christmas Party" id="eventNameField">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Address</label>
                                            <div class="control">
                                                <input class="input" type="text" placeholder="e.g. 123 Whatever Way" id="eventAddressField">
                                            </div>
                                        </div>
                                    </form>
                                    <button type="button" class="button is-large has-text-centered" id="createEngagementBtn">Book Now</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
</div>
</div>

</div>





</section>
</div>
{{/if}}
</div>



<script type="text/javascript" src="../../assets/scripts/services/dataServices/engagementService.js"></script>
