<link rel="stylesheet" href="../../assets/css/signup.css">

<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      
      <div class="columns">
        <div class="column is-8 is-offset-2">
        <div class="box">
        <h3 class="title has-text-grey">Register Here</h3>
        <!--<p class="subtitle has-text-grey">Register Here</p>-->
        
          <form id="signup1" name="signin" method="post" action="signup">
            <div class="field">
              <div class="control">
                <input class="input is-large" name="firstname" type="input" placeholder="First Name" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="lastname" type="input" placeholder="Last Name" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="username" type="input" placeholder="Username" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
    <textarea class="textarea" type="text" name="about" placeholder="About You"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="email" type="email" placeholder="Email" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="password" type="password" placeholder="Password">
              </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
          </form>
        </div>
        </div>
        

          
            
      </div>
      </div>
    </div>
    </div>
 
</section>