    <link rel="stylesheet" href="../../assets/css/signin.css">


<section class="hero is-success is-fullheight">

  <div class="hero-body">
    <div class="container has-text-centered">
      
      <div class="column is-4 is-offset-4">
        <div class="box">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        
          <form id="signin" name="signin" method="post" action="signin">
            <div class="field">
              <div class="control">
                <input class="input is-large" name="email" type="email" placeholder="Email" autofocus="">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-large" name="password" type="password" placeholder="Password">
              </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>