body {
    background-color:#DCDCDC;
}

.has-text-primary {
    color: #507050 !important;
}


.navbar-item {
    color: #507050;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: #fafafa;
    color: #507050;
}


.section {
    padding: 1.5rem !important;
}