body {
    background-color:#DCDCDC;
}

.has-text-primary  {
    color: #507050 !important;
}

.is-primary  {
    background-color: #507050 !important;
    color: white; 

}

.is-large {
    background-color: #507050 !important;
    color: white; 
    margin: 15px; 
    font-family: 'Montserrat', sans-serif;
}



a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: #507050;
    color: #ffffff;
}


#profile {
    max-width: 1080px !important;
    margin-top: 100px;
    padding: 20px;
}

.icon {
    margin-left: 5px;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em; 
    overflow: visible;
    vertical-align: -.125em;
}

.svg-inline--fa.fa-w-12, 
.svg-inline--fa.fa-w-14 {
    width: 1em;
}

p {
    margin-left: 5px;
}


#ammenities {
    background-color: #507050;
    padding: 20px;
}

.content {
    padding-right: 20px;
    padding-bottom: 20px;
}
 
.tile.is-7 {
    flex: none;
    color: #507050;
}

@media screen and (min-width: 769px) {
.tile.is-7 {
    width: 66%;
}
}


.section {
    padding: 1.5rem !important;
}

.fc-toolbar.fc-header-toolbar {
    margin-top: 2em;
}

/*
.card {
    height: 500px;
} */

.field {
    padding: 3px; 
}


#createEngagementBtn {
    padding: 10px; 
    align-content: center;
    display: flex;
    justify-content: center;
}



#buttonDiv {
    padding: 20px 0px;
}




h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    color: darkgray;
    font-size: 18px; 
    margin-top: 10px; 
}


a {
    color: #507050;
    cursor: pointer;
    text-decoration: none;
}

.hvr-box-shadow-outset {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
    box-shadow: 2px 2px 2px rgba(80, 112, 80);
    color: white;
    border: white;
  }