body {
    font-family: 'Montserrat', sans-serif;

}

.hero {
    background-image: url("rabbit.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-color: #999;

}

.box {
    background: rgba(255, 255, 255, 0.8);
}